.message {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: relative;
  right: 0px;
  margin-left: auto;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 12px;
}

.imageAndText img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.text {
  background-color: #0066cc;
  padding: 8px 12px;
  border-radius: 20px 20px 0 20px;
}

.text:after {
  width: 4px;
  height: 4px;
  background-color: #0066cc;
}

.name {
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  color: #fff;
  margin-bottom: 4px;
}

.messageText {
  text-wrap: unset;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #fff;
}

.time {
  font-weight: 600;
  font-size: 10px;
  width: 50px;
  text-align: center;
  margin-top: 4px;
}
