.sidebar {
  display: none;
}

.sidebar.open {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  padding: 16px 24px 0 70px;
}

.background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 30%;
}

.nav {
  margin-top: 24px;
  display: flex;
  gap: 45px;
  flex-direction: column;
}

.nav a {
  color: #000;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}

.nav a:hover {
  color: #58acff;
}

.nav a.active {
  color: #0059b2;
  text-decoration: underline;
}
.close {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  align-self: flex-end;
}

.close img {
}
