.loader {
  width: 90px;
  height: 90px;
  margin: 9px;
  animation: spin infinite linear 500ms;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
