.buttonsContainer {
  display: flex;
  gap: 22px;
  margin-top: 28px;
}

.clock {
}

.watch {
  font-weight: 400;
  font-size: 20px;
  margin-top: 26px;
}

.watch strong {
  font-weight: 600;
}

.more {
  font-size: 16px;
  margin-top: 8px;
  color: #00000080;
}
