.App {
  --header_height: 60px;
}

.hw {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 24px 24px 24px 32px;
}

.hwTitle {
  font-weight: 600;
  font-size: 22px;
  padding: 10px 24px;
}
