.friendMessage {
  margin-top: 32px;
}

.friendImageAndText {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.friendImageAndText img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.friendText {
  background-color: #f5f7fb;
  padding: 8px 12px;
  border-radius: 20px 20px 20px 0;
}

.friendText:after {
}

.friendName {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}

.friendMessageText {
  text-wrap: unset;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

.friendTime {
  font-weight: 600;
  font-size: 10px;
  width: 50px;
  text-align: center;
  margin-top: 4px;
}
